*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: #EECAD5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}
h1{
    color: #6431f4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4rem;
}
span{
    color: azure;
}
#card-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}
/* .card{
    height: 7rem;
    width: 7rem;
    background-color: #2D2727;
    padding: 2rem;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.6rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
.card_selected{
    border: .2rem solid rgb(215, 7, 42);
    
}
.card_match{
    border: .2rem solid rgb(49, 1, 9);
} */

.card{
    position: relative;
    transition: all .4s linear;
    transform-style: preserve-3d;
    padding: 1rem;
}

.card,
.back-card,
.front-card {
     height: 10rem;
    width: 10rem;
 }
.back-card, .front-card{
    position: absolute;
    backface-visibility: hidden;
}
.front-card{
    background-color: rgb(232, 0, 39);
    background-size: contain;
    border-radius: .6rem;
    box-shadow: rgba(149, 157, 165, 0.2)0px 8px 24px;
    padding: 2rem;
}
.back-card{
    transform: rotateY(180deg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: rgba(149, 157, 165, 0.2)0px 8px 24px;
    padding: 1rem;
}
.card_selected{
    /* border: .2rem solid rgb(215, 7, 42); */
    transform: rotateY(180deg);
}
.card_match .front-card{
    border: .2rem solid rgb(49, 1, 9);
    background-color:black;
} 